.instructions-container {
    width: fit-content; 
    max-width: 700px;
}

table {
    margin: auto;
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    border: 1px solid white;
}

img {
    width: 30px;
    height: auto;
}


