.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid red;
    z-index: 10;
}

.points {
    display: flex;
}
p {
    margin: 5px;
    padding: 5px;
}

h2 {
    margin: 25px;
}
