#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.App {
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 10vh;
}

.game-wrapper {
    border: 10px solid #444;
    width: 95vh;
    height: 95vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5577ff;
}

::-webkit-scrollbar-corner {
  background: #222;
}

.game-status {
    font-size: 5rem;
}

.difficulty {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
